<p>Question: <%= @card.question %></p>
<form action="/cards/<%= @card.id %>", method="post">
  Answer: <input type="text" name="user_answer">
  <input type="submit" value="check answer">
</form>
<div><%= @message %></div>