<div class="container">
  <%= erb :'partials/user_credentials', locals => {:action=>@action, :btn => @btn} %>
  <p><%= @valid_pw %></p>
  <form action="/users/new" method="get">
    <input type="submit" value="Sign Up">
  </form>
</div>