<div class="container">
  <%= erb :'partials/user_credentials' %>
  <form class="german"action="/users/new" method="get">
    <input type="submit" value="Sign Up" id="submit">
  </form>
</div>
<div class="german">
<h1>Willkommen!</h1>
  <h3>Pour yourself some German vocabulary knowledge!</h3>
</div>