<div class="container">
  <form id="start_game" action="/round" method="get">
    <select name ="deck_id">
      <% @decks.each do |deck| %>
        <option value='<%= deck.id %>'><%= deck.name %></option>
      <% end %>
    </select>
    <input type="submit" value="Start game" id="submit">
  </form>
  <form id="logout" action="/logout" method="post">
    <input type="submit" value="Logout" id="submit">
  </form>
</div>