<div class="container">
  <form action="/round" method="get">
    <select name ="deck_id">
   <!--    <% @decks.each do |deck| %>
        <option value= <%= deck.name %>><%= deck.name %></option>
      <% end %> -->

      <option value="1">1</option>
    </select>
    <input type="submit" value="Start game">
  </form>
  <form action="/logout" method="post">
    <input type="submit" value="Logout">
  </form>
</div>